.datawrapper {
}

.datawrapper > * {
	font-size: 160%;
	line-height: 200%;
}

.datawrapper > .label {
	padding-left: 1em;
	padding-top: .4em;
}

.datawrapper > .data {
	text-align: right;
	font-size: 200%;
}

.datawrapper > .unit {
	padding-top: .4em
}

.danger {
	color: #FFF;
	background-color: #F00;
}

.dangerYellow{
	background-color: #FF0;
}

.dangerOrange{
	background-color: #F80;
}

.dataCategory{
	padding-top: 6em;
}

.row > .caution{
	font-size: 200%;
}