.datawrapper {
}

.datawrapper > * {
	font-size: 160%;
	line-height: 200%;
}

.datawrapper > .label {

}

.datawrapper > .data {
	text-align: right;
}

.datawrapper > .unit {
}

.danger {
	color: #FFF;
	background-color: #F00;
}
